<div class="container">
    <div class="contentGrid">

        <div class="listTable">
            <div class="btn">
                <button [routerLink]="['/livros/novo']" mat-raised-button color="primary">Cadastrar novo livro</button>  
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>
              
                <ng-container matColumnDef="autor">
                  <th mat-header-cell *matHeaderCellDef> Autor </th>
                  <td mat-cell *matCellDef="let element"> {{element.nome_autor}} </td>
                </ng-container>
              
                <ng-container matColumnDef="isbn">
                  <th mat-header-cell *matHeaderCellDef> ISBN </th>
                  <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
                </ng-container>

                <ng-container matColumnDef="categorias">
                  <th mat-header-cell *matHeaderCellDef> Categorias </th>
                  <td mat-cell *matCellDef="let element"> {{element.categorias.categorias}} </td>
                </ng-container>

                <ng-container matColumnDef="estantes">
                  <th mat-header-cell *matHeaderCellDef> Estante </th>
                  <td mat-cell *matCellDef="let element"> {{element.estantes.estantes}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> <i class="actionsTitle">Ações</i> </th>
                  <td mat-cell *matCellDef="let element"> 
                    <div class="btn-list">
                      <button [routerLink]="['/livros/novo']" mat-raised-button color="primary">Alterar</button>
                      <button (click)="deleteById(element.id)" mat-raised-button color="primary">Deletar</button>
                    </div>
                    
                  </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

        </div>

    </div>
</div>


