.toolBar {
  position: absolute;
  z-index: 1;
  background-color: #332C29;
  color: #ffffff;
}

.sidenav {
  width: 250px;
  background-color: #42382D;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: #332C29;
  color: #ffffff;
  margin-left: 250px;
  font-size: 0.9rem;
}

.btn {
  width: 100%;
}

.navBtn {
  color: #ffffff;
}