<div class="container">
    <div class="contentGrid">

        <div class="listTable">

            <mat-card class="containerCard">

                <p class="title"> Cadastrar nova categoria </p>

                <form [formGroup]="categoriasForm" class="form" action="">

                    <mat-form-field appearance="outline">
                        <mat-label>Nome da categoria</mat-label>
                        <input formControlName="categorias" matInput placeholder="Ex: Ação">
                        <mat-hint class="matHint">Campo obrigatório</mat-hint>
                    </mat-form-field>   
                </form>

                <div class="btnControl">
                    <div class="btn">
                        <button class="button save" (click)="onSave(categoriasForm.value)" mat-raised-button color="primary">Salvar</button>  
                    </div>
                    <div class="btn">
                        <button class="button cancel" (click)="onCancel()" mat-raised-button color="primary">Cancelar</button>  
                    </div>
                </div>
                
            </mat-card>

        </div>

    </div>
</div>


