.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
}

.contentGrid {    
    width: 100%;
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: blanchedalmond;
}

table {
    width: 90%;
    margin: 20px auto;
  }

.btn {
    margin-top: 20px;
    margin-left: 5%;
}

.btnAction {
    margin-right: 20px;
}

.secoesTitle {
    padding-right: 400px;
    padding-left: 100px;
}

.acoesTitle {
    padding-left: 130px;
}
 
.save {
    background-color: #28C590;
}

.cancel {
    background-color: #7E3115;
}

.btnNew {
    background-color: #4e2e54;
}

.view {
    background-color: #ffdb58;
}